@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


:root {
  font-family: Anton, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  /* color-scheme: light dark; */
  color: rgba(0, 0, 0, 0.87);
  /* background-color: #f0b9c4; */
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}

body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  /* padding: 1em; */
}

a {
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}
ul{
  list-style: none;
  padding: 0;
}


h1 {
  font-size: 2.5em;
  line-height: 1.1;
}
/* 
button {
  /* border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s; */
/* }
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */ 

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
/********NAVBAR**********/
.sticky-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.5em 1.3em; */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #ffffff; /* colore iniziale */
}
.menu-toggle{
  display: none;
}
 .sticky-navbar a {
  /* color: #f13824; */
  color: #f13824;
 }
 .sticky-navbar a:hover{
  color: #b6291a;
 }

.menu-items{
  display: flex;
  gap: 2em;
  margin: 0; 
  padding-right: 0.7em ;
  align-items: center;
}
.menu-items li{
  display: inline-block;
  padding: 0.7em;

}
.logo-name h1{
  padding-left: 0.7em;
  /* color: #f13824; */
  color: #f13824;

}


  /************MAIN CONTENT**********/  

/****HOME PAGE****/

.home-gallery-wrapper {
  width: 100vw;
  height: 82vh;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  background: #fff;
  padding-left: 1.3vw;
}

.home-gallery {
  display: flex;
  flex-direction: row;
  gap: 0.6vw;
  height: 80vh; /* puoi regolare l'altezza della galleria */
  padding-bottom: 0;
}

.gallery-img {
  height: 75vh;         /* puoi variare questa altezza per ogni img con una classe diversa */
  width: auto;
  object-fit: cover;
  flex-shrink: 0;       /* le immagini non si restringono */
}

@media (max-width: 700px) {
  .home-gallery-wrapper {
    width: 100vw;
    height: calc(100vh - 60px - 60px); /* sottrai altezza navbar e footer */
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    background: #fff;
    padding: 0;
  }
  .home-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0.5vw;
    padding: 1vw 0;
    height: auto;
    overflow: visible;
  }
  .gallery-img {
    width: 100%;
    height: 100%;
    max-height: none;
    object-fit: cover;
    border-radius: 2px;
    display: block;
  }
}


/*******GALLEY-ITEMS*********/


.gallery-movies-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
  row-gap: 0.5vw;
  width: 100vw;
  padding: 1vw 0;
  box-sizing: border-box;
}
.item-wrapper {
  flex: 1 1 45vw;
  max-width: 48vw;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 180px;
  box-sizing: border-box;
}
.gallery-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.osp {
  width: 100%;
  height: 30vw;
  max-height: 620px;
  object-fit: cover;
  display: block;
}



/******GALLERY CAPTION WRAPPER******/

.gallery-caption {

  text-align: center;
  color: #f13824;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
}

/*******STILLS PAGE*********/
.gallery-stills-wrapper {
column-count: 3;
column-gap: 1vw;
width: 100vw;
padding: 1vw;
}
.item-wrapper-stills{
display: inline-block;     /* Importante per columns! */
  width: 100%;
  margin: 0 0 1vw 0;        /* Spazio verticale tra le immagini */
  background: none;
  box-shadow: none;
  border-radius: 12px;
  break-inside: avoid; 
}
.rosa{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/**************COMMERCIALS PAGE ***********/
.gallery-commercials-wrapper {
  column-count: 2;           /* Numero di colonne su desktop */
  column-gap: 1vw;           /* Spazio tra le colonne */
  width: 100vw;
  padding: 1vw;
}
.item-wrapper-commercials {
  display: inline-block;     /* Importante per columns! */
  width: 100%;
  margin: 0 0 1vw 0;        /* Spazio verticale tra le immagini */
  background: none;
  box-shadow: none;
  border-radius: 12px;
  break-inside: avoid; 
}
.commercials{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
/**************ME PAGE ***********/

.main-me-wrapper{
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  box-sizing: border-box;
  /* padding: 0 4vw; */
  gap: 2vw;
}

.me-text-wrapper {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 50vw;
  /* padding: 2em; */
}
.me-caption-title {
  font-size: 1.3em;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 1em;
}
.me-caption-main{
  font-size: 1.3em;
  color: #f13824;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 1em;
}
.me-image{
  flex: 1 1 50%;
  /* display: flex;
  align-items: flex-start;
  justify-content: flex-end; */
  max-width: 50vw;
  height: auto;
  min-height: 0;
  overflow: visible;
}
.me-image-caption {
  margin-top: 1em;
  color: #333;
  font-size: 1.1em;
  text-align: center;
  font-size: 0.8em;
}
.me-caption-footer{
  font-size: 1.1em;
  color: #f13824;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: justify;
  padding: 1em;
}
.her-image{
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: contain;
  display: block;
  padding-top: 3em;
  /* padding: 3em 3em 0 3em; */
}



/* *********FOOTER********** */
#footer {
width: 100%;
margin-top: auto;
background-color: #1a1a1a;
display: flex;
justify-content: space-between;
color: #f13824;
font-family: Arial, Helvetica, sans-serif;
padding: 0.5em 0.5em;
}
.contacts{
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  
}
.contacts p{
  padding: 0 10px;
}
.copyright{
  padding-right: 2em;
}








/********HOME VECCHIA **********/

/* #home-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.home-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
}

.home-card{
  position: relative;
  width: 600px;
  height: 800px;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  
}
.big-title-overlay{
  position: absolute;
  top: 5%;
  left: -60%;
  transform: none;
  font-size: 4em;        
  color: #f13824;          
  font-family: 'Anton', Arial, Helvetica, sans-serif;
  text-align: center;
  pointer-events: none;  
  z-index: 2;
} */

/* .home-image{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 16px;
}     */
/* .iban-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2em;
  
}
.iban{
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f13824;
} */

/*************************MEDIA QUERY*****************/

/******HAMBURGER MENU********/
@media (max-width: 700px) {
  .menu-toggle {
    display: block;
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
  }
  .menu-items {
    display: none;
    position: absolute;
    top: 60px;
    right: 1em;
    background: #fff;
    box-shadow: 0 2px 16px rgba(0,0,0,0.10);
    border-radius: 3px;
    padding: 1em;
    flex-direction: column;
    z-index: 200;
  }
  .menu-items.open {
    display: flex;
  }
  .menu-items ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0;
    padding: 0;
  }
}
/**********FOOTER**********/
@media (max-width: 700px) {
  footer {
    font-size: 0.5em;
    align-items: center;
    flex-direction: column;
  }
  .contacts p{
    font-size: 0.8em;
  }
  .copyright{
    padding-right: 0;
  }

}