


:root {
  font-family: "Cairo", sans-serif;
  line-height: 1.5;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #D9DAD4;
}
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

a {
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}
ul{
  list-style: none;
  padding: 0;
}


/********NAVBAR**********/
.sticky-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #D9DAD4;
}


.menu-toggle{
  display: none;

}
 .sticky-navbar a {
  color: #f13824;
 }
 .sticky-navbar a:hover{
  color: #b6291a;
 }

.menu-items{
  display: flex;
  gap: 2em;
  margin: 0; 
  padding-right: 0.7em ;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.;
  font-weight: 400;
  /* opacity: 0; */
  /* visibility: hidden; */
}
.menu-items.open{
  display: flex;
  opacity: 1;
  visibility: visible;
}
.menu-items li{
  display: inline-block;
  padding: 0.7em;
}
.logo-mobile {
  display: none;
}
.logo-desktop {
  display: inline;
  font-weight: 400;
}

.logo-name{
  padding-left: 30px;
  color: #f13824;
  font-size: 1.6em;
  line-height: 1.2em;
  font-family: "Cairo", sans-serif;
}

  /************MAIN CONTENT**********/  

/****HOME PAGE****/

.home-gallery-wrapper {
  width: 100vw;
  height: 82vh;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  /* background: #fff; */
  padding-left: 1.3vw;
}

.home-gallery {
  display: flex;
  flex-direction: row;
  gap: 0.6vw;
  height: 82vh; /* puoi regolare l'altezza della galleria */
  padding-bottom: 0;
}

.gallery-img {
  height: 75vh;         /* puoi variare questa altezza per ogni img con una classe diversa */
  width: auto;
  object-fit: cover;
  flex-shrink: 0;       /* le immagini non si restringono */
}



/*******GALLEY-ITEMS*********/


.gallery-movies-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
  row-gap: 0.5vw;
  width: 100vw;
  padding: 1vw 0;
  box-sizing: border-box;
}
.item-wrapper {
  flex: 1 1 45vw;
  max-width: 48vw;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 180px;
  box-sizing: border-box;
}
.gallery-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.osp {
  width: 100%;
  height: 30vw;
  max-height: 620px;
  object-fit: cover;
  display: block;
}

.movies-intro{
  width: 100%;
  margin: 0 auto 1em auto;
  padding: 1em 1.5vw;
  text-align: left;
  color: #f13824;
}
.movies-intro p {
  font-size: 0.9em;
  line-height: 1.5;
}



/******GALLERY CAPTION WRAPPER******/

.gallery-caption {

  text-align: center;
  color: #f13824;
  font-family: "Cairo" sans-serif;
  font-size: 0.7em;
}

/*******STILLS PAGE*********/
.gallery-stills-wrapper {
column-count: 3;
column-gap: 7vw;
width: calc(100vw -140px);
padding-top: 70px;
margin: 0 70px;   /* margine ai bordi destro e sinistro della galleria */
}
.item-wrapper-stills{
display: inline-block;     /* Importante per columns! */
  width: 100%;
  margin: 0 0 3vw 0;        /* Spazio verticale tra le immagini */
  background: none;
  box-shadow: none;
  border-radius: 12px;
  break-inside: avoid; 
}
.rosa{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/**************COMMERCIALS PAGE ***********/
/***************VECCHIO CSS PER COMMERCIALS PAGE***************/
/* .gallery-commercials-wrapper {
  column-count: 2;          
  column-gap: 1vw;          
  width: 100vw;
  padding: 1vw;
}
.item-wrapper-commercials {
  display: inline-block;    
  width: 100%;
  margin: 0 0 1vw 0;        
  background: none;
  box-shadow: none;
  border-radius: 12px;
  break-inside: avoid; 
}
.commercials{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
} */


.gallery-commercials-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
  width: 100vw;
  padding: 1vw;
  box-sizing: border-box;
}

.item-wrapper-commercials {
  flex: 1 1 45vw;
  max-width: 48vw;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  box-shadow: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 180px;
  box-sizing: border-box;
}

.commercials{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.commercials-intro {
  width: 100%;

  margin: 0 auto 1em auto;
  padding: 1em .5vw;
  text-align: left;
  color: #f13824;
}
.commercials-intro p {
  font-size: 0.9em;
  line-height: 1.5;
}




/**************ME PAGE ***********/

.main-me-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.me-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 80vw;
}
.me-caption-title {
  font-size: 1.1em;
  font-weight: 400;
  color: #f13824;
  text-align: left;
  padding: 1em;
  width: 50%;
}
.me-caption-main{
  font-size: 1.1em;
  color: #f13824;
  width: 50%;
  text-align: left;
  padding: 1em;
}


.me-caption-footer{
  font-size: 1.1em;
  color: #f13824;
 
  font-style: italic;
  text-align: justify;
  padding: 1em;
}
/* .her-image{
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: contain;
  display: block;
  padding-top: 3em;
} */



/* *********FOOTER********** */
#footer {
width: 100%;
margin-top: auto;
/* background-color: #ffffff; */
display: flex;
justify-content: space-between;
color: #f13824;
font-family: "Cairo", sans-serif;
font-weight: 400;
padding: 0.5em 0.5em;
}
.contacts{
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  
}
.contacts p{
  padding: 0 10px;
}
.copyright{
  padding-right: 2em;
}


/*************************MEDIA QUERY*****************/

/******HAMBURGER MENU********/
@media (max-width: 700px) {
  .menu-toggle {
    display: block;
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    color: #f13824;
    padding-right: 10px;
  }
  .menu-items {
    position: absolute;
    top: 60px;
    right: 1em;
    background: rgba(217,218,212,0.8);
    box-shadow: 0 2px 16px rgba(0,0,0,0.10);
    border-radius: 3px;
    padding: 1em;
    flex-direction: column;
    z-index: 200;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    display: flex;
  }
  .menu-items.open {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  .menu-items ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0;
    padding: 0;
  }
}

/******NAVBAR**********/
@media (max-width: 700px) {
  .sticky-navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}
}

/**********LOGO NAME**********/
@media (max-width: 700px) {
 .logo-name{
  padding-left: 15px;
 }
 .logo-mobile {
    display: inline;
    font-size: 0.8em;
    font-weight: 400;
    padding-left: 5px;
    color: #f13824;
  }
  .logo-desktop {
    display: none;
  }
}

/**********HOME PAGE***********/
@media (max-width:700px){
  .home-gallery {
    height: 77vh;
  }
}

/**********COMMERCIALS PAGE***********/
@media (max-width: 700px) {
  .gallery-commercials-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 10px;
    gap: 0;
  }
  .item-wrapper-commercials {
    width: 100vw;
    max-width: 100vw;
    margin: 0 0 2vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    box-shadow: none;
    border-radius: 0;
    box-sizing: border-box;
  }
  .commercials {
    width: 100vw;
    height: 60vw;                /* oppure usa 60vh se preferisci */
    max-height: 70vh;
    object-fit: cover;
    display: block;
    border-radius: 0;
    box-sizing: border-box;
    border: 20px solid #D9DAD4;
    max-width: 100vw;
  }
  .commercials-intro {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: left;
    color: #f13824;
  }
  .commercials-intro p {
    font-size: 0.7em;
    line-height: 1.5;
    padding-left: 20px;
  }
}

 /********FILM PAGE*********/
@media (max-width: 700px) {
   .gallery-movies-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 10px;
    gap: 0;
  }
  .item-wrapper {
    width: 100vw;
    max-width: 100vw;
    margin: 0 0 2vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    box-shadow: none;
    border-radius: 0;
  }
  .osp {
    width: 100vw;
    height: 60vw;                /* oppure usa 60vh se preferisci */
    max-height: 70vh;
    object-fit: cover;
    display: block;
    border-radius: 0;
    box-sizing: border-box;
    border: 20px solid #D9DAD4;
    max-width: 100vw;
  }
  .movies-intro {
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: left;
  color: #f13824;

}
.movies-intro p {
  font-size: 0.7em;
  line-height: 1.5;
  padding-left: 20px;
}
.special{
padding: 10px;
}
} 



/********STILLS PAGE*********/
@media (max-width: 700px) {
  .gallery-stills-wrapper {
    column-count: 1 !important;   /* una sola colonna */
    width: 100vw;
    padding: 0;
    overflow-x: hidden;
    margin: 0;
  }
  .item-wrapper-stills {
    width: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: none;
    box-shadow: none;
    border-radius: 0;
    break-inside: avoid;
  }
  .rosa {
    width: 100%;
    height: auto;                /* oppure usa 60vh se preferisci */
    /* max-height: 70vh; */
    object-fit: cover;
    display: block;
    border-radius: 0;
    border: 20px solid #D9DAD4;
    box-sizing: border-box;
    max-width: 100vw;
  }
}

/**********ME PAGE**********/
@media (max-width: 700px) {
  .me-caption-main{
    font-size: 0.9em;
    width: 100%;
    text-align: left;
    padding: 0.5em;
  }
  .me-caption-title{
    font-size: 0.9em;
    width: 100%;
    text-align: left;
    padding: 0.5em;
  }
  .me-text-wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
  }
}



/**********FOOTER**********/
@media (max-width: 700px) {
  #footer {
    flex-direction: column;
    font-size: 0.8em;
    align-items: center;
    justify-content: left;
    padding: 0.2em;
    
  }
  .contacts p{
    font-size: 0.8em;
    padding: 0.2;
  }
  .copyright{
    font-size: 0.8em;
    padding-right: 0;
  }

}