@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


:root {
  font-family: Anton, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  /* color-scheme: light dark; */
  color: rgba(0, 0, 0, 0.87);
  /* background-color: #f0b9c4; */
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}

body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  /* padding: 1em; */
}

a {
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}
ul{
  list-style: none;
  padding: 0;
}


h1 {
  font-size: 2.5em;
  line-height: 1.1;
}
/* 
button {
  /* border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s; */
/* }
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */ 

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
/********NAVBAR**********/
.sticky-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.5em 1.3em; */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #ffffff; /* colore iniziale */
}
.menu-toggle{
  display: none;
}
 .sticky-navbar a {
  /* color: #f13824; */
  color: #f13824;
 }
 .sticky-navbar a:hover{
  color: #b6291a;
 }

.menu-items{
  display: flex;
  gap: 2em;
  margin: 0; 
  padding-right: 0.7em ;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.;
  opacity: 0;
  visibility: hidden;
}
.menu-items.open{
  display: flex;
  opacity: 1;
  visibility: visible;
}
.menu-items li{
  display: inline-block;
  padding: 0.7em;

}
.logo-name h1{
  padding-left: 0.7em;
  /* color: #f13824; */
  color: #f13824;

}


  /************MAIN CONTENT**********/  

/****HOME PAGE****/

.home-gallery-wrapper {
  width: 100vw;
  height: 82vh;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  background: #fff;
  padding-left: 1.3vw;
}

.home-gallery {
  display: flex;
  flex-direction: row;
  gap: 0.6vw;
  height: 80vh; /* puoi regolare l'altezza della galleria */
  padding-bottom: 0;
}

.gallery-img {
  height: 75vh;         /* puoi variare questa altezza per ogni img con una classe diversa */
  width: auto;
  object-fit: cover;
  flex-shrink: 0;       /* le immagini non si restringono */
}



/*******GALLEY-ITEMS*********/


.gallery-movies-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
  row-gap: 0.5vw;
  width: 100vw;
  padding: 1vw 0;
  box-sizing: border-box;
}
.item-wrapper {
  flex: 1 1 45vw;
  max-width: 48vw;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 180px;
  box-sizing: border-box;
}
.gallery-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.osp {
  width: 100%;
  height: 30vw;
  max-height: 620px;
  object-fit: cover;
  display: block;
}



/******GALLERY CAPTION WRAPPER******/

.gallery-caption {

  text-align: center;
  color: #f13824;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
}

/*******STILLS PAGE*********/
.gallery-stills-wrapper {
column-count: 3;
column-gap: 1vw;
width: 100vw;
padding: 1vw;
}
.item-wrapper-stills{
display: inline-block;     /* Importante per columns! */
  width: 100%;
  margin: 0 0 1vw 0;        /* Spazio verticale tra le immagini */
  background: none;
  box-shadow: none;
  border-radius: 12px;
  break-inside: avoid; 
}
.rosa{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/**************COMMERCIALS PAGE ***********/
.gallery-commercials-wrapper {
  column-count: 2;           /* Numero di colonne su desktop */
  column-gap: 1vw;           /* Spazio tra le colonne */
  width: 100vw;
  padding: 1vw;
}
.item-wrapper-commercials {
  display: inline-block;     /* Importante per columns! */
  width: 100%;
  margin: 0 0 1vw 0;        /* Spazio verticale tra le immagini */
  background: none;
  box-shadow: none;
  border-radius: 12px;
  break-inside: avoid; 
}
.commercials{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
/**************ME PAGE ***********/

.main-me-wrapper{
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  box-sizing: border-box;
  /* padding: 0 4vw; */
  gap: 2vw;
}

.me-text-wrapper {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 50vw;
  /* padding: 2em; */
}
.me-caption-title {
  font-size: 1.3em;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 1em;
}
.me-caption-main{
  font-size: 1.3em;
  color: #f13824;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 1em;
}
.me-image{
  flex: 1 1 50%;
  /* display: flex;
  align-items: flex-start;
  justify-content: flex-end; */
  max-width: 50vw;
  height: auto;
  min-height: 0;
  overflow: visible;
}
.me-image-caption {
  margin-top: 1em;
  color: #333;
  font-size: 1.1em;
  text-align: center;
  font-size: 0.8em;
}
.me-caption-footer{
  font-size: 1.1em;
  color: #f13824;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: justify;
  padding: 1em;
}
.her-image{
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: contain;
  display: block;
  padding-top: 3em;
  /* padding: 3em 3em 0 3em; */
}



/* *********FOOTER********** */
#footer {
width: 100%;
margin-top: auto;
background-color: #1a1a1a;
display: flex;
justify-content: space-between;
color: #f13824;
font-family: Arial, Helvetica, sans-serif;
padding: 0.5em 0.5em;
}
.contacts{
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  
}
.contacts p{
  padding: 0 10px;
}
.copyright{
  padding-right: 2em;
}


/*************************MEDIA QUERY*****************/

/******HAMBURGER MENU********/
@media (max-width: 700px) {
  .menu-toggle {
    display: block;
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
  }
  .menu-items {
    position: absolute;
    top: 60px;
    right: 1em;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 2px 16px rgba(0,0,0,0.10);
    border-radius: 3px;
    padding: 1em;
    flex-direction: column;
    z-index: 200;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    display: flex;
  }
  .menu-items.open {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  .menu-items ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0;
    padding: 0;
  }
}
/**********LOGO NAME**********/
@media (max-width: 700px) {
  .logo-name h1 {
    font-size: 1.6em;
    
}
}

/**********COMMERCIALS PAGE***********/
@media (max-width: 700px) {
  .gallery-commercials-wrapper {
    column-count: 1 !important;   /* una sola colonna */
    width: 100vw;
    padding: 0;
  }
  .item-wrapper-commercials {
    width: 100vw;
    margin: 0 0 2vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    box-shadow: none;
    border-radius: 0;
    break-inside: avoid;
  }
  .commercials {
    width: 100vw;
    height: 60vw;                /* oppure usa 60vh se preferisci */
    max-height: 70vh;
    object-fit: cover;
    display: block;
    border-radius: 0;
  }
  .gallery-caption {
    font-size: 0.7em;
    margin-top: 0.3em;
    text-align: center;
  }
}

 /********FILM PAGE*********/
@media (max-width: 700px) {
   .gallery-movies-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 0;
    gap: 0;
  }
  .item-wrapper {
    width: 100vw;
    max-width: 100vw;
    margin: 0 0 2vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    box-shadow: none;
    border-radius: 0;
  }
  .osp {
    width: 100vw;
    height: 60vw;                /* oppure usa 60vh se preferisci */
    max-height: 70vh;
    object-fit: cover;
    display: block;
    border-radius: 0;
  }
} 

/********STILLS PAGE*********/
@media (max-width: 700px) {
  .gallery-stills-wrapper {
    column-count: 1 !important;   /* una sola colonna */
    width: 100vw;
    padding: 0;
  }
  .item-wrapper-stills {
    width: 100vw;
    margin: 0 0 2vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    box-shadow: none;
    border-radius: 0;
    break-inside: avoid;
  }
  .rosa {
    width: 100vw;
    height: 60vw;                /* oppure usa 60vh se preferisci */
    max-height: 70vh;
    object-fit: cover;
    display: block;
    border-radius: 0;
  }
}

/**********FOOTER**********/
@media (max-width: 700px) {
  #footer {
    font-size: 1em;
    align-items: center;
    justify-content: left;
    padding: 0.2em;
    
  }
  .contacts p{
    font-size: 0.8em;
    padding: 0.2;
  }
  .copyright{
    font-size: 0.8em;
    padding-right: 0;
  }

}